.menu{ 
    svg{
    height: 3em;
    width: 3em;
    
        &:hover{
            cursor: pointer;
            color: $color-primary-lighter;
        }

        & path{
            fill: $color-secondary;
        }
    }
}